<%- include('header'); -%>
<div class="box" id="heading">
    <h1>About Me</h1> 
</div>

<div class="box" id="heading">
    <p class="item" style="background-color:#E4E9FD ;">I am a web developer, willing to create a good and user friendly website!</p>
</div>


<%- include('footer'); -%>